<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<header>
			<h1><%= title %></h1>
		</header>
		<nav class="mb-4">
			<ul class="nav">
				<li class="nav-item me-4"><a href="/">Home</a></li>
				<li class="nav-item me-4"><a href="/users">All Users</a></li>
				<li class="nav-item me-4"><a href="/register">Register</a></li>
			</ul>
		</nav>
		<main>