<%- include("header"); -%>

<h2>Welcome</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit autem consequatur velit error quasi asperiores molestiae cum dignissimos animi ullam voluptate praesentium dolore neque, maxime nihil tempore distinctio? Nisi, dolorum.</p>

<%- include("footer"); -%>