<%- include("header"); -%>
	<form method="post" action="">
		<div class="mb-3">
			<label for="username">Benutzername</label>
			<input
				type="text"
				class="form-control"
				id="username"
				name="username">
		</div>
		<div class="mb-3">
			<label for="email">E-Mail</label>
			<input type="email"
				class="form-control"
				id="email"
				name="email">
		</div>
		<div class="mb-3">
			<label for="password">Passwort</label>
			<input type="password"
				class="form-control"
				id="password"
				name="password">
		</div>
		<!-- <div class="mb-3 form-check">
				Bei checkboxen können wir mit einem DAVOR gesetzten hidden Field mit
				dem selben Namen wie die Checkbox hat, einen default Wert setzen.
				Checkboxen werden, wenn sie nicht gecheckt sind, nicht mitgeschickt.
				Dh. Bei Abfrage am Server ist req.body.agb undefined.
				Durch unser hidden Field wird der Wert des hidden field gesendet,
				wenn die checkbox nicht gecheckt wurde.
				Ansonsten wird der checkbox Wert geschickt.
				In Nodejs werden bei checkter box beide Werte abgeschickt, dh.
				wir haben nun ein Array.

				Dh. wir prüfen entweder auf undefined oder wir prüfen auf array

			<input type="hidden" name="agb" value="0">
			<input class="form-check-input"
				type="checkbox"
				name="agb"
				value="1"
				id="checkAGB">
			<label class="form-check-label" for="checkAGB">
				AGB akzeptieren
			</label>
		</div> -->
		<button type="submit" class="btn btn-primary">Absenden</button>
	</form>
	<%- include("footer"); -%>