<%- include("header"); -%>

<h2>All Users</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>E-Mail</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<% users.forEach(function(user) { %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><a href="/users/<%= user.id %>">Edit</a></td>
			<td><a href="/users/delete/<%= user.id %>" onclick="return confirm('Do you really want to delete the user?')">Delete</a></td>
		</tr>
		<% }) %>
	</tbody>
</table>
<%- include("footer"); -%>