<%- include("header"); -%>
	<form method="post" action="/users/<%= data.id %>">
		<!-- TODO: als eigenes Template ablegen und mit include hier (und in anderen Seiten) einbinden -->
		<% if(msg) { %>

			<% if(msg.status === "error") { %>
			<p class="alert alert-danger"><%= msg.text %></p>
			<% } %>

			<% if(msg.status === "success") { %>
			<p class="alert alert-success"><%= msg.text %></p>
			<% } %>

		<% } %>
		<div class="mb-3">
			<label for="username">Benutzername</label>
			<input
				type="text"
				class="form-control"
				id="username"
				name="username"
				value="<%= data.name %>">
		</div>
		<div class="mb-3">
			<label for="email">E-Mail</label>
			<input type="email"
				class="form-control"
				id="email"
				name="email"
				value="<%= data.email %>">
		</div>

		<button type="submit" class="btn btn-primary">Absenden</button>
	</form>
	<%- include("footer"); -%>